.form-icon-group .mat-form-field-suffix {
    position: absolute;
    right: 0px;
    height: 52px;
    width: 40px;
}

.form-icon-group .mat-form-field-suffix mat-icon {
    top: 15px;
    margin: auto;
    position: relative;
}

.mat-table {
    max-height: calc(100vh - 195px) !important;
    table-layout: fixed;
    overflow: auto;
}

.mat-header-cell {
    position: sticky;
    top: 0;
    z-index: 100;
}

.person-icon {
    vertical-align: middle;
    font-size: 22px;
}

tr.mat-row {
    cursor: pointer;
}

::ng-deep .primary-tooltip {
    margin-top: -10px !important;
}

.mat-column-icon {
    flex: 0 0 4%;
    width: 4%;
    word-break: break-all;
}

.mat-column-role {
    width: 15%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    padding-right: 1% !important;
}

.primary-font-color {

    color: #e87033;
}

.h6 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
}
