<div class="container-fluid p-3 body_bg opacity95">
    <form [formGroup]="userInfoForm">
        <h5>
            <strong class="primary-font-color">{{isCreateUserOperation ? 'Create User' : 'Edit User'}}</strong>
            <button mat-stroked-button color="accent" class="float-right ml-2 button-cls"
                [routerLink]="['/home/user']">Cancel</button>
            <button (click)="createUpdateUser()" mat-raised-button color="primary" class="float-right button-cls">{{
                isCreateUserOperation ? 'Create' : 'Update' }}</button>
        </h5>
        <mat-card class="border rounded my-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <mat-label>Name
                            <span class="required-asterisk">*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="">
                            <input matInput type="text" #name formControlName="name" autocomplete="off" minlength="1"
                                maxlength="75" pattern='^(?!\.)(?!.*?\.\.)[a-zA-Z.\s]*$' required
                                (blur)="trim($event.target)">
                            <mat-error *ngIf="userInfoForm.controls['name'].hasError('required')">Please enter a valid user
                                name.</mat-error>
                            <mat-error *ngIf="userInfoForm.controls['name'].hasError('pattern')">Please enter only
                                characters.</mat-error>
                            <mat-hint align="end">{{name.value.length}} / 75</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <mat-label>Email
                            <span class="required-asterisk">*</span>
                        </mat-label>
                        <mat-form-field appearance="outline" class="example-form-field">
                            <input matInput type="email" formControlName="email" autocomplete="off" ngModel
                                [email]="true" maxlength="40" name="email" #email (blur)="trimEmail($event.target)"
                                email required
                                pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                            <mat-error>Please enter a valid email id.</mat-error>
                            <mat-hint align="end">{{email.value.length}} / 40</mat-hint>
                        </mat-form-field>
                    </div>
                    <div *ngIf="isCreateUserOperation" class="col-sm-3 col-md-2 col-lg-2">
                        <mat-label class="">Active User</mat-label>
                        <section class="example-section ">
                            <mat-slide-toggle color="primary" formControlName="status"></mat-slide-toggle>
                        </section>
                    </div>

                    <div *ngIf="isCreateUserOperation && this.userRole.includes('Platform Admin')"
                        class="col-sm-3 col-md-2 col-lg-2">
                        <mat-label class="">OTP Verification</mat-label>
                        <section class="example-section ">
                            <mat-slide-toggle color="primary" formControlName="isOtpValidationRequired">
                            </mat-slide-toggle>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4" *ngIf="userInfoForm.controls['password']">
                        <mat-label>Password</mat-label>
                        <mat-form-field appearance="outline" class="example-form-field">
                            <input matInput type="password" formControlName="password" maxlength="12"
                                autocomplete="off">
                            
                            <mat-error *ngIf="userInfoForm.controls['password'].hasError('msg')" class="error-msg">
                                <!-- {{userInfoForm.controls['password'].errors['msg']}} -->
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div *ngIf="userInfoForm.controls['created']" class="col-sm-6 col-md-4 col-lg-4">
                        <mat-label> Created </mat-label>
                        <mat-form-field color="primary" appearance="outline">
                            <input matInput type="text" autocomplete="off" formControlName="created">
                        </mat-form-field>
                    </div>
                    <div *ngIf="userInfoForm.controls['updated']" class="col-sm-6 col-md-4 col-lg-4">
                        <mat-label> Updated </mat-label>
                        <mat-form-field color="primary" appearance="outline">
                            <input matInput type="text" autocomplete="off" formControlName="updated">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3 col-md-2 col-lg-2" *ngIf="!isCreateUserOperation">
                        <mat-label class="">Active User</mat-label>
                        <section class="example-section ">
                            <mat-slide-toggle color="primary" formControlName="status"></mat-slide-toggle>
                        </section>
                    </div>
                    <div *ngIf="this.userRole.includes('Platform Admin') && !isCreateUserOperation"
                        class="col-sm-3 col-md-2 col-lg-2">
                        <mat-label class="">OTP Verification</mat-label>
                        <section class="example-section ">
                            <mat-slide-toggle color="primary" formControlName="isOtpValidationRequired">
                            </mat-slide-toggle>
                        </section>
                    </div>
                </div>
            </div>

            <div *ngIf="!isCreateUserOperation" class="col-md-12">
                <div class="container-fluid rounded greybg roles">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-start align-items-center">
                            <div class="p-2"> Roles </div>
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="p-2"> Projects </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <div class="p-2"> Action </div>
                        </div>
                    </div>

                    <div *ngFor="let roles of assignedProjects; let i = index">
                        <div class="row">
                            <div class="col-sm-3 mt-2 white_bg d-flex justify-content-start align-items-center">
                                <i class="fa fa-id-card primary-font-color mr-2" aria-hidden="true"></i>
                                {{ roles.role }}
                            </div>
                            <div class="col-sm-7 mt-2 white_bg py-2 px-0">
                                <div class="row">
                                    <div class="col-sm-11 d-flex align-items-center">
                                        <mat-chip-list aria-label="roles">
                                            <mat-chip *ngIf="roles.project.length">
                                                <!-- <mat-icon class="iconPos mr-2 mt-1 " color="primary">{{
                                                    docStructureIconMap[roles.documentStructure] }} </mat-icon> -->
                                                {{ roles.project}}
                                                <mat-icon class="pl-2 mr-2" (click)="removeProject(roles.project,i)"
                                                    matChipRemove>cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2 white_bg d-flex justify-content-center align-items-center">
                                <button
                                    [disabled]="(!userInfoForm.controls['status'].value) || (roles.project.length != 0)"
                                    [matMenuTriggerFor]="selectProject" (click)="search.value=''; search.focus()"
                                    mat-icon-button>
                                    <mat-icon
                                        [ngClass]="(!userInfoForm.controls['status'].value || roles.project.length) ? 'foregroundColor' : 'primary-font-color'">
                                        add_circle_outline</mat-icon>
                                </button>
                                <mat-menu #selectProject="matMenu" class="document_menu smartSearchSize">
                                    <div class="menu_search">
                                        <input class="p-2 theme_color" placeholder="Search"
                                            (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation();"
                                            autocomplete="off"
                                            (keyup)="search.value.length === 0 ? search.value='': '' " #search>
                                    </div>
                                    <div class="menu_list theme_color">
                                        <div *ngFor="let proj of getAuthorisedProjects(search.value)"
                                            [matTooltip]="proj.project.length > 23 ? proj.project : ''">
                                            <button mat-menu-item (click)="addProject(proj,i)">
                                                <mat-icon color="primary">{{ docStructureIconMap[proj.documentStructure]
                                                    }} </mat-icon>
                                                <span> {{ proj.project}} </span>
                                            </button>
                                        </div>
                                        <div *ngIf="authorisedProjects.length" class="text-center text-secondary p-2">
                                            {{getAuthorisedProjects(search.value).length === 0 ? 'No Records Found !' :
                                            ''}}
                                        </div>
                                    </div>
                                </mat-menu>
                                <button mat-icon-button class="pl-3" style="color: #9e9e9e !important;"
                                    (click)="removeTableData(i)">
                                    <mat-icon class="outline-none"> delete </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isCreateUserOperation" class="row">
                <div class="col-sm-9 py-3 ml-3">
                    <button mat-raised-button color="primary" [disabled]="!userInfoForm.controls['status'].value"
                        [matMenuTriggerFor]="roleMenu" (click)="search.value=''; search.focus()">
                        Add Role
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <mat-menu #roleMenu="matMenu" class="customize" xPosition="after">
                        <div class="menuSmart_Search">
                            <input class="p-2 theme_color" placeholder="Search" (click)="$event.stopPropagation()"
                                autocomplete="off" (keydown)="$event.stopPropagation();"
                                (keyup)="search.value.length === 0 ? search.value='': '' " #search>
                        </div>
                        <div *ngFor="let role of getRoleList(search.value)">
                            <button (click)="addRole(role)" mat-menu-item>{{ role }}</button>
                        </div>
                        <div *ngIf="getRoleList.length" class="text-center text-secondary p-2">
                            {{getRoleList(search.value).length === 0 ? 'No Records Found !' : ''}}
                        </div>
                    </mat-menu>
                </div>
            </div>
        </mat-card>
    </form>
</div>