.sourceChanelImg {
    position: relative;
    bottom: 5px;
    padding-right: 10px;
}

.sourceMessage {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
}

.source-target-container {
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
}