<!-- <mat-accordion class="example-headers-align">

    <project-templates [projectInfoForm]="projectInfoForm" [dataSourceForTemplates]="dataSourceForTemplates"
        [templateList]="templateList" [step]="step" (setStep)="setStep.emit($event)"
        (dataSourceForTemplatesChange)="dataSourceForTemplatesChange.emit($event)">
    </project-templates>

    <project-attributes [projectInfoForm]="projectInfoForm" [attrListForSemiStructure]="attrListForSemiStructure"
        [step]="step" (setStep)="setStep.emit($event)" [dataSource]="dataSource" [isMandatoryHeader]="isMandatoryHeader"
        (isMandatoryHeaderChange)="mandatoryValueChange($event)" [attributeList]="attributeList"
        (dataSourceChange)="dataSourceChange.emit($event)" [attributeListChange]="attributeListChange"
        [headerListForInmar]="headerListForInmar" [attrListForInmarReturns]="attrListForInmarReturns"
        [columnHeadersForInmarType]="columnHeadersForInmarType" [columnHeadersForInmar]="columnHeadersForInmar"
        (columnHeadersForInmarChange)="columnHeadersForInmarChange.emit($event)">
    </project-attributes>

    <project-entitys [projectInfoForm]="projectInfoForm" [step]="step" (setStep)="setStep.emit($event)"
        [dataSource]="dataSource" [attributeListRCM]="attributeListRCM"
        (dataSourceChange)="dataSourceChange.emit($event)">
    </project-entitys>

    <project-roles [step]="step" [userList]="userList" [roleList]="roleList" (setStep)="setStep.emit($event)"
        [selectedProjectInfo]="selectedProjectInfo" (selectedProjectInfoChange)="selectedProjectInfoChange.emit($event)"
        [selectedRoles]="selectedRoles" (selectedRolesChange)="selectedRolesChange.emit($event)">
    </project-roles>

    <document-ingestion [step]="step" [isCreateProjectOperation]="isCreateProjectOperation"
        [projectInfoForm]="projectInfoForm" [sourceTypeList]="sourceTypeList" [srcImagePath]="srcImagePath"
        [SourceChannelResponse]="SourceChannelResponse" [isSourceVerifiedChange]="isSourceVerifiedChange"
        (isSourceVerifiedChanged)="isSourceVerifiedChanged.emit($event)"
        (SourceChannelfilenameChange)="SourceChannelfilenameChange.emit($event)"
        (fileIndexChange)="fileIndexChange.emit($event)"
        (sourceChanelForm1Change)="sourceChanelForm1Change.emit($event)"
        (sourceListChange)="sourceListChange.emit($event)" (isSourceDataChange)="isSourceDataChange.emit($event)"
        (testedSourceDataChange)="testedSourceData = $event"></document-ingestion>

    <target-channel [step]="step" [projectInfoForm]="projectInfoForm"
        [dataSourceForTargetChannel]="dataSourceForTargetChannel"
        (dataSourceForTargetChannelChange)="dataSourceForTargetChannelChange.emit($event)"
        (setStep)="setStep.emit($event)"></target-channel>

    <api-configuration [step]="step" [dataSourceForApi]="dataSourceForApi"
        (dataSourceForApiChange)="dataSourceForApiChange.emit($event)" (setStep)="setStep.emit($event)">
    </api-configuration>

</mat-accordion> -->