<!-- <mat-accordion class="example-headers-align">


    <project-data [projectInfoForm]="projectInfoForm" [dataSourceForTemplates]="dataSourceForTemplates"
        [drlAttributeList]="drlAttributeList" [step]="step" (stepChange)="setStep.emit($event)"></project-data>

    <project-datasets [step]="step" [dataSourceForDatasets]="dataSourceForDatasets" [datasetList]="datasetList"
        [addedObj]="addedObj" [categoryList]="categoryList" [categoryLists]="categoryLists"
        (dataSourceForDatasetsChange)="dataSourceForDatasetsChange.emit($event)" (setStep)="setStep.emit($event)">
    </project-datasets>


    <project-variables [step]="step" [dataSourceForVariables]="dataSourceForVariables"
        [operatorListByValidation]="operatorListByValidation" (stepChange)="setStep.emit($event)"
        (dataSourceForVariablesChange)="dataSourceForVariablesChange.emit($event)"></project-variables>

</mat-accordion> -->