.mat-select-panel.over_riderMatSelect {
    min-width: 100% !important;
}

.mat-chip.mat-standard-chip {
    border-radius: 15px;
    border: none !important
}

.limitTextHeight {
    height: 39px;
    overflow: hidden;
}

.text-more {
    width: 76px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.position {
    position: absolute;
    font-size: 11px;
    right: 2px;
    top: 7px;
}

.mat-chip.mat-standard-chip {
    width: 162px;
    // width: 23%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    display: flow-root;
}

@media screen and (min-width: 1440px) {
    .mat-chip.mat-standard-chip {
        width: 200px;
    }
}