mat-sidenav-container {
    height: 100%;
    background-color: #f1f1f1;

    .mat-toolbar {
        background-color: white;
        padding-top: 3px;
    }

    mat-sidenav {
        background-color: white;

        mat-nav-list {

            img.img-fluid {
                height: 24px;
                width: 24px;
                margin-left: 3px;
            }

            .row-color {
                border-bottom: 2px solid #e87033;
                margin-top: -1px;
            }

            .active {
                border-right: 3px solid #e87033 !important;
                margin-top: 3px;
            }
        }
    }
}

.hr {
    margin: 1px;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.navigation-bar {
    position: inherit;
    top: 0px;
    z-index: 101;
    height: 54px;
}

.link {
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.text-font {
    font-family: 'Montserrat', sans-serif;
}

.logout-color {
    color: #e87033;
}

.btn-collapse-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.btn-collapse-icon {
    color: #fff;
}

mat-list-item span {
    margin: 0px 5px;
    font-size: 14px;
}

.foregroundColor {
    background: #f7f7f7;
    color: #9e9e9e;
    cursor: pointer;
}

.devider_vertical {
    height: 35px;
    display: inline-block;
    border-right: 1px solid #ccc !important;
}

.profileImageIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    font-size: 15px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

.coverPic {
    margin-top: -3em;
    width: 100%;
    height: 100px;
}

.avatar-upload {
    position: relative;
    margin: 10px auto 10px;
    z-index: 100;
    margin-top: -3.5em;
    text-align: center;
    width: 100%;
}

.userNameLabel {
    text-align: center;
    letter-spacing: 0.29px;
}

.profileImage {
    z-index: 100;
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: gray;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 85px;
    overflow: hidden;
}

.profile_menu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::ng-deep .primary-tooltip {
    margin-top: -10px !important;
}