<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
        <mat-nav-list>
            <mat-list-item class="row-color">
                <div class="logo-image">
                    <img [routerLink]="['/home']" *ngIf="!isExpanded" src="../../../../assets/images/projectLogoN.png"
                        class="img-fluid" />
                    <span *ngIf="isExpanded" class="menu-item">
                        <img [routerLink]="['/home']" src="../../../../assets/images/logo_nts2.png" class="img-fluid"
                            style="height: 24px; width: 107px" />
                    </span>
                </div>
            </mat-list-item>

            <mat-list-item *ngFor="let icons of navigationOptions" [routerLinkActive]="['active']"
                #rla="routerLinkActive" [routerLink]="icons.route">
                <img class="img-fluid" matTooltip="{{!isExpanded ? icons.name : ''}}" [matTooltipPosition]="'right'"
                    src="{{rla.isActive ? icons.act_icon : icons.blk_icon}}" alt="icons.name">
                <span class="ml-2"> {{isExpanded ? icons.name : ''}} </span>
            </mat-list-item>

            <!-- <mat-list-item [routerLinkActive]="['active']" #rla="routerLinkActive" [routerLink]="['/home/application']">
                <img class="img-fluid" matTooltip="{{!isExpanded ? 'Application' : ''}}" [matTooltipPosition]="'right'"
                    src="../../../../assets/icons/Icons_Application.svg" alt="Application">
                <span class="ml-2"> {{isExpanded ? 'Application' : ''}} </span>
            </mat-list-item> -->

            <button (click)="isExpanded = !isExpanded" mat-mini-fab
                class="outline-none btn-collapse-icon foregroundColor" aria-label="open close sidebav button">
                <mat-icon> {{isExpanded ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}} </mat-icon>
            </button>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="navigation-bar px-4">
            <span class="example-spacer "></span>

            <button mat-icon-button style="line-height: 30px !important;" matTooltip="{{userInfo}}" color="accent"
                [matMenuTriggerFor]="menuProfile">
                <div *ngIf="photoUrl == null; else iconBlock" class="profileImageIcon">{{
                    userInfo ? userInfo.charAt(0).toUpperCase() : ''}}</div>
                <ng-template #iconBlock>
                    <img class="profileImageIcon mr-5" [src]="photoUrl">
                </ng-template>
            </button>

            <div class="devider_vertical mx-2"> </div>

            <span matTooltip="Logout" (click)="logout()"
                class="text-center ml-3 link primary-font-color d-flex justify-content-center align-items-center logout-color">
                <i class="fa fa-power-off" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;
            </span>
        </mat-toolbar>


        <mat-menu #menuProfile="matMenu" class="theme_color">
            <div (click)="$event.stopPropagation()">
                <div class="coverPic greybg px-4 py-2"> </div>
                <div class="avatar-upload px-4">
                    <label>

                        <div *ngIf="photoUrl == null; else profileBlock" class="profileImage">{{
                            userInfo.charAt(0).toUpperCase() }}</div>
                        <ng-template #profileBlock>
                            <img class="profileImage" [src]="photoUrl">
                        </ng-template>

                    </label>
                </div>
                <div class="font-15 primary-font-color userNameLabel px-4 profile_menu"
                    matTooltipClass="primary-tooltip" #ele
                    [matTooltip]="(ele.scrollWidth > ele.clientWidth) ? userInfo : ''">
                    <span> {{ userInfo }} </span>
                </div>
                <div class="font-13 userNameLabel px-4 profile_menu" Class="primary-tooltip" #el
                    [matTooltip]="(el.scrollWidth > el.clientWidth) ? userMail : ''">
                    <span> {{ userMail }} </span>
                </div><br>
            </div>
            <button mat-menu-item (click)="openModal()">
                <mat-icon class="primary-font-color font-20 p-1">create</mat-icon>
                Edit Profile
            </button>
        </mat-menu>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="modal" id="profileModal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="padding-top: 5px;">
                    <span>Edit Profile</span>
                </h4>
                <button mat-mini-fab class="foregroundColor" (click)="onCloseHandled()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!-- Modal body for edit profile-->
            <div class="modal-body p-4">
                <div class="center-text">
                    <mat-label>Edit Profile Picture</mat-label>
                    <div class="edit-profile">
                        <label class="hoverable link mt-2" for="fileInput">

                            <div *ngIf="dialogPhotoUrl == null; else editBlock" class="profileImage">
                                {{userInfo.charAt(0).toUpperCase()}}</div>
                            <ng-template #editBlock>
                                <img class="profileImage" [src]="dialogPhotoUrl">
                            </ng-template>

                        </label>
                    </div>

                    <button class="mt-1 text-center" *ngIf="dialogPhotoUrl" mat-stroked-button color="accent"
                        (click)="delete()">Remove
                    </button>
                    <h6 *ngIf="!dialogPhotoUrl" class="text-danger error-msg-pos font-9">Please upload PNG or
                        JPEG with resolution less than 400*400 and size less than 1 MB.</h6>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="mt-3 col-md-8 font-12">
                        <mat-label>Name
                            <span class="required-asterisk">*</span>
                        </mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" value="{{userInfo}}" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="center-text">
                    <button mat-flat-button color="primary" (click)="uploadProfilePicture()"> Save</button>
                </div>
                <input class="center-text" id="fileInput" type='file' enctype="multipart/form-data"
                    (change)="onSelectFile($event)">
            </div>
        </div>
    </div>
</div>