.user-info-container>div>div {
    background-color: #f1f1f1;
    margin: 10px 0;
    text-align: center;
    line-height: 75px;
    height: 80px;
    font-size: 30px;
}

.form-icon-group .mat-form-field-suffix {
    position: absolute;
    right: 0px;
    height: 52px;
    width: 40px;
}

.form-icon-group .mat-form-field-suffix mat-icon {
    top: 15px;
    margin: auto;
    position: relative;
}

.mat-column-email,
.mat-column-name,
.mat-column-assignedProjects {
    flex: 0 0 25% !important;
    max-width: 25vw !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding-right: 24px;
}

.mat-column-updated,
.mat-column-created {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-dob,
.mat-column-gender,
.mat-column-action {
    flex: 0 0 10% !important;
    width: 10% !important;
}

tr.mat-row {
    cursor: pointer;
}

.person-icon {
    vertical-align: middle;
    font-size: 22px !important;
}

.card-person-icon {
    vertical-align: middle;
    font-size: 50px !important;
}

.mat-card {
    background: none;
    border-radius: 10px;
    border: none;
}

.cardstats {
    padding: 2px 18px;
    background-color: #fff;
    opacity: 0.92;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 118px !important;
}

.infocards {
    margin-bottom: 30px;
    box-shadow: none !important;
}

.infocards:hover {
    transform: scale(1.05);
    transition: transform 250ms;
}

.proj_name {
    padding: 10px;
    background-color: #f9f9f9;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.proj_name .col-8,
.proj_name .h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gridicon .mat-button-toggle-group-appearance-standard {
    border: none;
}

.gridicon .mat-button-toggle-checked {
    background: none;
}

.gridicon .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border: none;
}

.iconPos {
    position: relative;
    // top: 6px;
    font-size: 20px;
}

.heading {
    font-size: 14px;
}

.overEllipsis {
    width: 84%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .primary-tooltip {
    margin-top: -10px !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.pl-3 {
    padding-left: 1rem;
}

.mat-mini-fab {
    height: 40px !important;
    width: 40px !important;
}

.mat-icon {
    height: 24px !important;
    width: 24px !important;
}

.mat-table {
    max-height: calc(100vh - 175px) !important;
    table-layout: fixed;
    overflow: auto;
}

.mat-header-cell {
    position: sticky;
    top: 0;
    z-index: 100;
}

.material {
    font-size: 24px !important;
}