::ng-deep .primary-tooltip {
    margin-top: -10px !important;
}

.mat-column-name,
.mat-column-pages {
    flex: 0 0 20% !important;
    width: 20% !important;
    word-break: break-all;
    padding-right: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-top: 1%;
}