<mat-sidenav-container class="sidenav-container">

    <mat-sidenav mode="side" #sidenavbar id="sidenav" (openedStart)='showNavLabels = !showNavLabels'
        (closedStart)='showNavLabels = !showNavLabels' class="sidenav menu-close-btn">
        <ul class="list-group rounded-0">
            <li [routerLink]="'./home'" class="list-group-item primary-bottom-border nts-icon"
                [ngClass]="{ 'p-0' :viewSidebarIcon }">
                <img class="navbar-brand-full img-fluid w-15 w-75" *ngIf="!viewSidebarIcon"
                    ng-reflect-ng-class="navbar-brand-full" src="../../../../assets/images/logo_nts2.png">
                <img class="navbar-brand-minimized int-doc-icon p10" *ngIf="viewSidebarIcon"
                    src="../../../../assets/images/projectLogoN.png">
            </li>
        </ul>
        <mat-nav-list class="side-bar-menue" *ngIf="showNavLabels">
            <mat-list-item [routerLinkActive]="['active']" [routerLink]="['/home/application']">
                <img class="mr-2" matTooltip="{{viewSidebarIcon ? 'Application' : ''}}" [matTooltipPosition]="'right'"
                    src="../../../../assets/Icons_Application.svg" alt="icons.name">
                <span> {{!viewSidebarIcon ? 'Application' : ''}} </span>
            </mat-list-item>
        </mat-nav-list>
        <button (click)="sideNavIcons()" mat-mini-fab class="outline-none btn-collapse-icon foregroundColor"
            aria-label="open close sidebav button">
            <mat-icon> {{viewSidebarIcon ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}} </mat-icon>
        </button>
    </mat-sidenav>
</mat-sidenav-container>