/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.mat-typography h5 {
  font-size: 20px;
}

.mat-typography h6 {
  font-size: 1rem;
}

body {
  margin: 0;
  color: #212121;
}

.mat-app-background {
  height: 100%;
  height: 100vh;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mt-4 {
  margin-top: 1.5rem;
}

h5 {
  font-size: 20px;
}

.toast-success {
  background-color: green !important;
}

.toast-success .mat-simple-snackbar-action {
  color: #fff;
}

.toast-error {
  background-color: #f44336 !important;
}

.toast-warning {
  background-color: rgb(201, 73, 13) !important;
}

.toast-error .mat-simple-snackbar-action {
  color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 5px;
}

.searchbox .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}

.searchbox .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 !important;
  padding-bottom: 0px !important;
  opacity: 0.95;
  border-radius: 5px;
  color: #212121;
  background: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  height: 40px !important;
  line-height: 17px;
  border-top: 4px solid transparent;
}

.form-icon-group.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
  // border: 1px solid #ccc;
  opacity: 1;
  border-radius: 4px;

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    border: none;
  }
}

.searchbox .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 7px 0.75em 0 0.75em !important;
  height: 41px !important;
}

.mat-form-field-suffix .mat-icon-button {
  height: 31px !important;
}

.mat-form-field-flex:hover .mat-form-field-outline {
  color: #ccc !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ccc !important;
}

.text-danger .mat-select-value {
  color: red;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.filter-icon,
.mat-sort-header-arrow {
  color: #e87033 !important;
}

.mat-table-header-bg mat-header-cell {
  color: white !important;
}

.table-action-icon {
  font-size: 17px;
  top: 5px;
  color: #b0bec5;
  position: relative;
  margin: 5px;
}


body.body,
.mat-table,
.mat-card {
  font-family: "Helvetica", "Avenir LT Std" !important;
}

.mat-table,
.mat-card {
  background: transparent;
}

.filter-icon,
.mat-sort-header-arrow {
  color: #e87033 !important;
}

.mat-mini-fab {
  background-color: #f7f7f7 !important;
  width: 34px !important;
  height: 34px !important;
}

.form-control {
  border: 0.5px solid #ced4da;
  height: 50px;
  font-weight: 500;
  font-size: 13px;
  color: #afa8a3;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 70vh;
  overflow: auto;
  opacity: 0.95;
  background-color: #fff;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.outline-none {
  outline: none !important;
}

.form-icon-group .mat-form-field-suffix {
  position: absolute;
  right: 0px;
  height: 37px;
  cursor: pointer;
  width: 40px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.form-icon-group .mat-form-field-suffix mat-icon {
  top: 8px;
  margin: auto;
  position: relative;
}

mat-form-field .mat-slide-toggle {
  height: 10px;
}

mat-form-field .mat-checkbox {
  position: relative;
  bottom: 8px;
}

.mat-checkbox .mat-form-field-infix {
  height: 55px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.font_roboto {
  font-family: 'Roboto', sans-serif;
}

.center-text {
  text-align: center !important;
}

.container-fluid.p-3.body_bg {
  min-height: 90vh;
}

.minHeight92 {
  min-height: 92vh;
}

.mat-table,
.mat-card {
  background: transparent;
}

.mat-card {
  display: block;
  position: relative;
}

.mat-card-header-text {
  margin: 0px;
}

.mat-table {
  background-color: #fff;
}

.mat-card {
  background-color: #fff;
}

.primary-font-color {
  color: #e87033;
  font-size: 1rem;
  font-weight: 500;
}

intelli-paginator .mat-mini-fab {
  line-height: 15px;
  width: 30px !important;
  height: 30px !important;
  margin: 0 3px;
}

.intelli-paginator .mat-mini-fab .mat-button-wrapper {
  padding: 4px 0 !important;
  display: inline-block;
  line-height: 14px;
}

.mat-header-cell {
  background-color: #e3e3e3;
  color: #212121;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
}

.mat-row.cdk-row {
  color: #212121;
  border-bottom: 5px solid #f7f7f7;
}

.foregroundColor {
  background-color: #f7f7f7;
  color: #9e9e9e;
}

.mat-icon {
  height: 24px;
  width: 24px;
  color: #9e9e9e;
  font-size: 20px;
}

.mat-mini-fab .mat-button-wrapper {
  vertical-align: middle;
  display: inline-block;
  line-height: 24px;
}

.primary-font-color {
  color: #e87033;
}

.font-17 {
  font-size: 17px;
}

.processed {
  color: #86db46;
}

.audited {
  color: #26AF54;
}

.pending {
  color: #0F4DC9;
}

.ready {
  color: #4FBFF9;
}

.rejected {
  color: #d12424;
}